@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}
.navbar{
    font-family: Roboto;
    text-align: center;
    font-size: 5vh;
}
li:last-child a{
    background-image: linear-gradient(144deg, #bfa5d9, #9288d7);
    border-radius: 100px;
}
li:last-child a:hover{
    background-image: linear-gradient(144deg, #a981d1, #6d5fca);
}
#mainmenu{
    width:100%;
}
.nav-item img{
    height:15vh;
}
.navbar-nav{
    -ms-flex-align: center!important;
    align-items: center!important;
    width:100%;

}

.nav-item{
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

li a{
    display: block;
    color: #000;
    border-radius: 100px;
    
}

li a:hover{
    background-color: #cbb3fe36;
    color: black;
}

#login .container #login-row #login-column #login-box{
    margin-top: 40px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }

  #reg .container #reg-row #reg-column #reg-box{
    margin-top: 40px;
    max-width: 600px;
    height: 1000px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  #reg .container #reg-row #reg-column #reg-box #reg-form {
    padding: 20px;
}

#cont .container #cont-row #cont-column #cont-box{
    margin-top: 40px;
    max-width: 600px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  #cont .container #cont-row #cont-column #cont-box #cont-form {
    padding: 20px;
}

  .btn-color{
    background-image: linear-gradient(144deg, #bfa5d9, #9288d7);
  }
  .btn-color:hover{
    background-image: linear-gradient(144deg, #a08bb6, #746ca9);
  }
  tr{
    border-bottom: 1px solid #BCBCBC;
}

.b_check_price{
    background-image: linear-gradient(144deg, #bfa5d9, #9288d7);
    border: 0;
    border-radius: 10px;
    color: #000000;
    font-size: 20px;
    line-height: 1em;
    padding: 10px 10px;
    cursor: pointer;
    float: right;
}
.t_check_price{
    width: 15%;
}
.container table{
    width: 100%;
}

a.b_check_price:hover{
    text-decoration: none;
    color: inherit;
}
.light{
    background-image: linear-gradient(144deg, #f5eaff, #e0dbff,#f5eaff);
}
iframe{
    width:40vw;
    max-width:600px;
    height:400px;
    border:1;
    border-radius:10px;
    float:right;
}